/* for everything */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background-color: black;
  color: white;
  transition:0.3s;
}

body .footer-page {
  transition:0.3s;
}

/* background changer */

body.light-mode {
  color: black;
  background-color: white;
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.7),
    0 0 16px rgba(0, 0, 0, 0.5),
    0 0 24px rgba(0, 0, 0, 0.3);
    transition:0.3s;
}

.light-mode .active-logo.active {
    filter:
    drop-shadow(0 0 8px rgba(0, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 255, 255, 0.3));
}

.light-mode .active.active {
  filter:
    drop-shadow(0 0 8px rgba(0, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 255, 255, 0.3));
}

.light-mode .dark-mode-img {
  content:url("lightMode.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
}

.light-mode .webpage-link, .light-mode .footer-link {
  color:black;
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.7),
    0 0 16px rgba(0, 0, 0, 0.5),
    0 0 24px rgba(0, 0, 0, 0.3);
    transition:0.3s;
}

.light-mode .webpage-link:hover, .light-mode .footer-link:hover {
  color: rgb(0,128,255);
  text-shadow:
    0 0 8px rgba(0, 128, 255, 0.7),
    0 0 16px rgba(0, 128, 255, 0.5),
    0 0 24px rgba(0, 128, 255, 0.3);
}

.light-mode .footer-page {
  background-color:rgb(232, 232, 232);
  transition:0.3s;
}

.light-mode .logo {
  content:url("BrandLogoBlack.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
    transition:0.3s;
}

.light-mode .footer-logo {
  filter:
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(255, 255, 255, 0.3));
    transition:0.3s;
}

.light-mode .twitter-logo {
  content:url("TwitterLogoBlack.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
    transition:0.3s;
}

.light-mode .instagram-logo {
  content:url("InstagramLogoBlack.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
    transition:0.3s;
}

.light-mode .linkedin-logo {
  content:url("LinkedinLogoBlack.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
}

.light-mode .github-logo {
  content:url("GithubLogoBlack.png");
  filter:
    drop-shadow(0 0 8px rgba(0, 0, 0, 0.7)) 
    drop-shadow(0 0 16px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 24px rgba(0, 0, 0, 0.3));
    transition:0.3s;
}

/* navbar */

.active.active {
  color:rgb(0, 255, 255);
  text-shadow:
    0 0 8px rgba(0, 255, 255,0.7)
    0 0 16px rgba(0, 255, 255, 0.5)
    0 0 24px rgba(0, 255, 255, 0.3);
    transition:0.3s;
}

.active-logo.active {
  color:rgb(0, 255, 255);
  filter:
    drop-shadow(0 0 8px rgba(0, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 255, 255, 0.3));
  content:url("activeBrandLogo.png");
  height: 175px;
  width: auto;
  vertical-align: middle;
}

.active-logo.active {
  color:rgb(0, 255, 255);
}

.logo {
  height: 128px;
  width: auto;
  vertical-align: middle;
  filter:
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(255, 255, 255, 0.3));
}

.nav-bar {
  text-align: center;
  list-style-type: none;
  padding: 16px 32px;
}

li {
  display: inline;
}

.webpage-link {
  position: relative;
  display: inline-block;
  margin: 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 900;
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 16px rgba(255, 255, 255, 0.5),
    0 0 24px rgba(255, 255, 255, 0.3);
    color:white;
}

.webpage-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 100%;
  background-color: rgb(0, 128, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.webpage-link:hover {
  color: rgb(0, 128, 255);
  text-decoration-color: rgb(0, 128, 255);
  text-shadow:
    0 0 8px rgba(0, 128, 255, 0.7),
    0 0 16px rgba(0, 128, 255, 0.5),
    0 0 24px rgba(0, 128, 255, 0.3);
}

.webpage-link:hover::after {
  transform: scaleX(1);
}

.logo:hover {
  content: url("BrandLogo_Blue.png");
  transition-duration: 0.5s;
  transition-property: inherit;
  filter:
    drop-shadow(0 0 8px rgba(0, 128, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 128, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 128, 255, 0.3));
}

/* footer */

.footer-page {
  width: 100%;
  padding: 20px;
  background-color: rgb(22,22,22);
}

.copyright-text {
  text-align: center;
}

.extra-links {
  text-align: center;
  list-style-type: none;
  padding: 16px 32px;
}

.footer-link {
  color:white;
  position: relative;
  display: inline-block;
  margin: 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-size: 10px;
  font-weight: 900;
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 16px rgba(255, 255, 255, 0.5),
    0 0 24px rgba(255, 255, 255, 0.3);
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 100%;
  background-color: rgb(0, 128, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-link:hover {
  color: rgb(0, 128, 255);
  text-decoration-color: rgb(0, 128, 255);
  font-weight: 900;
  text-shadow:
    0 0 8px rgba(0, 128, 255, 0.7),
    0 0 16px rgba(0, 128, 255, 0.5),
    0 0 24px rgba(0, 128, 255, 0.3);
}

.footer-link:hover::after {
  transform: scaleX(1);
}

.extra-links-logo {
  text-align: center;
  list-style-type: none;
  padding: 0px 32px;
}

.footer-logo {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  filter:
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.7)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(255, 255, 255, 0.3));
}

.twitter-logo:hover {
  content: url("blueTwitterLogo.png");
  transition-duration: 0.5s;
  transition-property: inherit;
  filter:
    drop-shadow(0 0 8px rgba(0, 128, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 128, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 128, 255, 0.3));
}


.instagram-logo:hover {
  content: url("blueInstagramLogo.png");
  transition-duration: 0.5s;
  transition-property: inherit;
  filter:
    drop-shadow(0 0 8px rgba(0, 128, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 128, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 128, 255, 0.3));
}

.linkedin-logo:hover {
  content: url("blueLinkedinLogo.png");
  transition-duration: 0.5s;
  transition-property: inherit;
  filter:
    drop-shadow(0 0 8px rgba(0, 128, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 128, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 128, 255, 0.3));
}

.github-logo:hover {
  content: url("blueGithubLogo.png");
  transition-duration: 0.5s;
  transition-property: inherit;
  filter:
    drop-shadow(0 0 8px rgba(0, 128, 255, 0.7)) drop-shadow(0 0 16px rgba(0, 128, 255, 0.5)) drop-shadow(0 0 24px rgba(0, 128, 255, 0.3));
}

/* responsive navbar */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav-bar .logo {
  height: 175px;
  width: auto;
  margin-right: auto;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.dark-mode-btn {
  height:10px;
  width:25px;
  background: transparent;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid white;
  padding-bottom:25px;
  border:none;
}

.dark-mode-img {
  height:25px;
  width:25px;
  filter:
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.7)) 
    drop-shadow(0 0 16px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 24px rgba(255, 255, 255, 0.3));
}

.dark-mode-btn:hover .dark-mode-img {
    transform: scale(1.05);
    border: none;
    content: url("darkModeHover.png");
  }

@media (max-width: 1149px) {
  .nav-bar {
    flex-direction: column;
    /* turns the navbar into columns */
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    align-items: center;
  }

  .webpage-link {
    display: inline-block;
    padding: 12px 0;
    text-align: center;
  }

  .webpage-link::after {
    width: 0;
    bottom: 2px;
  }

  .webpage-link:hover::after {
    width: 100%;
  }

  .nav-bar .logo {
    margin: 0 auto 16px auto;
    display: block;
    align-self: center;
  }

  .extra-links-logo {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    align-items: center;
  }

  .extra-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 20px;
  }

  .footer-logo {
    height: 25px;
    width: 25px;
    margin-top: 5px;
  }
}
